/* Variables de colores */
/*

Marron
#5c1000

Marron:hover
#5c1010


Blanco
#FFFFFF

Negro
#000000

*/
// Body
$color-principal-1: #000000;
$color-principal-2: #FFFFFF;
$color-principal-3: #5c1000;

$color-letra: #FFFFFF;
$color-letra-hover: #FFFF00;

/* render html5 elements as block */
header, footer, section, aside, nav, article {
	display: block;
}

header{
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
  padding: 10px;
  margin: 40px;

}

/* standard body */
body {
	margin: 0 auto;
	width: 980px;
	font: 14px/20px "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	background-color: $color-principal-1;
  color: $color-letra;
	text-align: justify;
}

.menu {
  list-style-type: none;
  display: flex;

  li{
    padding: 10px;
    margin: 5px;
  }

  li:hover{
    background-color: #5c1010;
    border-radius: 6px;
  }
}

.selected{
	  background-color: $color-principal-3;
	  border-radius: 6px;
}

.row{
	margin: 5px;
	border-radius: 10px;
  width: 100%;
	display: block;
  background-color: $color-principal-3;
  padding: 15px;
}

.slider{
	text-align: center;
	width: 100%;
	margin: 0 auto;
	margin-left: 2%;
	overflow: hidden;

  ul{
    display: flex;
    padding: 0;
    width: 300%;
    animation: cambio 10s infinite alternate;
  }

  li{
    border-radius: 15px;
    width: 100%;
    overflow: hidden;
    list-style: none;
  }

  img{
    width: 100%;
  }
}


.logo{
	width: 80px;
	height: 80px;
	margin-left: 0;
	padding-right: 50px;
	text-align: center;
}

a{
	text-decoration: underline;
	color: inherit;
	cursor: pointer;
}

p{
	text-indent: 2em;
}

.row-white-12{
	background-color: $color-principal-2;
	margin: 5px;
	border-radius: 10px;
	width: 95%;
	color: $color-principal-1;
	padding: 15px;
}

.row-white-6{
	background-color: $color-principal-2;
	margin: 9px;
	border-radius: 10px;
	width: 44%;
	display: inline-flex;
	color: $color-principal-1;
	padding: 18px;
}

.footer{
	color: inherit;
	text-align: center;
	font-size: 12px;
	font-style: italic;
	text-transform: capitalize;

  a:hover{
    color: $color-principal-3;
    text-shadow: 1px 1px $color-principal-2;
  }
}

/*animaciones*/
@keyframes cambio {
	0%{margin-left: 0;}
	30%{margin-left: 0;}

	36%{margin-left: -100%;}
	66%{margin-left: -100%;}

	72%{margin-left: -200%;}
	100%{margin-left: -200%;}
}
